APScheduler==3.6.0
authy==2.2.3
autopep8==1.4.4
certifi==2019.11.28
chardet==3.0.4
Django==2.2.1
django-cors-headers==3.0.2
django-crispy-forms==1.7.2
django-environ==0.4.5
djangorestframework==3.9.4
djangorestframework-jwt==1.11.0
idna==2.8

Pillow==6.2.1
psycopg2==2.8.2
pycodestyle==2.5.0
PyJWT==1.7.1
pytz==2019.3
requests==2.22.0
simplejson==3.17.0
six==1.13.0
sqlparse==0.3.0
tzlocal==2.0.0
urllib3==1.25.7